<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Продажа комплектующих</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}?{% now 'U' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <img src="{% static 'images/preloader.png'%}" alt="Прелоадер" id="preloader">
    <!-- новый дизайн -->
    <div class="title-app">
        <span>Продажа комплектующих</span> 
        <span>Приветствуем вас, {{request.user.username}}  <a href="/logout">Выйти</a></span>
    </div>

<div class="app">
    <div class="form">
        <label for="cpu">Процессор <input type="checkbox" name="cpu-check" id="cpu-check"></label>
        <select name="cpu" id="cpu">
            {% for i in cpu %}
            <option value="{{i.price}} {{i.id}}">{{i.name}}</option>
            {% endfor %}
        </select>
        <label for="gpu">Видеокарта <input type="checkbox" name="gpu-check" id="gpu-check"></label>
        <select name="gpu" id="gpu">
            {% for i in   gpu %}
            <option value="{{i.price}} {{i.id}}">{{i.name}}</option>
            {% endfor %}
         </select>
        <label for="mather">Материнская плата <input type="checkbox" name="mather-check" id="mather-check"></label>
        <select name="mather" id="mather">
            {% for i in mather%}
            <option value="{{i.price}} {{i.id}}">{{i.name}}</option>
            {% endfor %}
        </select>
        <label for="ram">Оперативная память <input type="checkbox" name="ram-check" id="ram-check"></label>
        <select name="ram" id="ram">
            {% for i in ram%}
            <option value="{{ i.price}} {{ i.id}}">{{ i.name }}</option>
            {% endfor %}
        </select>
        <label for="ram-count">Кол-во Оперативной памяти</label>
        <input type="number" id=ram-count min="1" max="20" value="1">
        <label for="power-block">Блок питания <input type="checkbox" name="power-block-check" id="power-block-check"cpu-check"></label>
        <select name="power-block" id="power-block">
            {% for i in power_block %}
            <option value="{{i.price}} {{i.id}}">{{ i.name }}</option>
            {% endfor %}
        </select>
        <label for="hdd">Накопитель <input type="checkbox" name="hdd-check" id="hdd-check"></label>
        <select name="hdd" id="hdd">
            {% for i in   hdd %}
            <option value="{{i.price}} {{i.id}}">{{i.name}}</option>
            {% endfor %}
        </select>
        <label for="hdd-count">Кол-во Накопителей</label>
        <input type="number" id=hdd-count min="1" max="20" value="1" />
        <label for="dilivery">Доставка <input type="checkbox" name="dilivery-check" id="dilivery-check"></label>
        <label for="address">Адрес доставки:</label>
        <input type="text" name="address" id="address" placeholder="Г.Кемерово ул. 50 лет октября 15, кв 56">
    </div> 
    <div class="right-side">
        <div class="sub-components">
            <div class="sub-components-title">
                <h1>Перефирия</h1>
                <input type="checkbox" name="sub-components" id="sub-components">
            </div>
        <div class="sub-component-form"></div>
        </div>
        <div class="buttons">
            <button id='buy' >Заказать</button>
            <!-- <button id='get-docx'>Сделать чек в Word</button> -->
        </div>
    </div>
</div>

<div class="modal-buy">
    <h1>Корзина</h1>
        <p id="output-p"></p>
        <button id="get-docx">
            сделать чек в WORD
        </button>
        <span id='close-modal'>Закрыть</span>
</div>

<form action="/get-docx" method="post" style="display: none" id="form-download">
    {% csrf_token %}
    <textarea name="text-docx" id="text-docx" cols="30" rows="10" value="0"></textarea></form>

</body>
<script>
    document.addEventListener('contextmenu', event => event.preventDefault());
    var csrf_token = '{{ csrf_token }}';
</script>
<script src="{% static 'js/index.js' %}?{% now 'U'%}"></script>

</html>