body {
    display: flex;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
button {
    cursor: pointer;
}

* {
    animation: fadeIn 1.2s ease-in-out;
    margin: 0;
    padding: 0;
}


.app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-side {
    width: 68%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.sub-components {
    background: linear-gradient(180deg, #04F5ED 0%, #00F7A7 100%);
    box-shadow: 10px 0px 20px rgb(0 0 0 / 25%), 0px 10px 20px rgb(0 0 0 / 25%);
    border-radius: 25px;
    display: flex;
    width: max-content;
    height: max-content;
    padding: 5%;
    font-style: normal;
    font-weight: bolder;
    /* font-size: 40px; */
    line-height: 47px;
    font-family: sans-serif;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    align-content: center;
    align-items: center;
    color: white;
    justify-content: space-evenly;
    flex-direction: column;
    transition: all 0.6s ease-in-out;
}


.buttons {
    margin-top: 6vh;
    width: inherit;
    display: flex;
    justify-content: space-around;
}

.buttons button {
    background: linear-gradient(180deg, #04F5ED 0%, #00F7A7 100%);
    box-shadow: 10px 0px 20px rgb(0 0 0 / 25%), 0px 10px 20px rgb(0 0 0 / 25%);
    border-radius: 25px;
    border: none;
    color: white;
    width: 14rem;
    height: 4rem;
    font-size: larger;
    font-family: sans-serif;
    font-weight: 700;
    transition: all 0.6s ease-in-out;
}

.buttons button:hover { 
    transition: all 0.6s ease-in-out;
    transform: scale(1.2);
}

#preloader {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 50;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-2%)
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.title-app {
    margin: 0% auto 2% auto;
    text-align: center;
    position: relative;
    height: max-content;
    /* height: max-content; */
    display: none;
    width: 50%;
    background: linear-gradient(180deg, #00F7A7 0%, #04F5ED 100%);
    border-radius: 25px;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 59px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    transition: all 0.5s ease-in-out;
    flex-direction: column;
}

.title-app:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}


.form {
    height: max-content;
    display: none;
    width: 32%;
    flex-direction: column;
    justify-content: center;
    padding: 0% 2% 1.5% 2%;
    /* bottom: 4%; */
    left: 2%;
    position: relative;
    background: linear-gradient(180deg, #04F5ED 0%, #00F7A7 100%);
    box-shadow: 10px 0px 20px rgb(0 0 0 / 25%), 0px 10px 20px rgb(0 0 0 / 25%);
    border-radius: 25px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: larger;
    line-height: 3vh;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.form label {
    margin-top: 3%;
}

.form select,
option,
input {
    outline: none;
    border: none;
    height: 35px;
    border-radius: 5px;
}

input[type="checkbox"] {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 23px;
    border: 1px solid #dddddd;
    background-color: #ffffff;

}





.form-add {
    height: max-content;
    display: none;
    margin-left: 5%;
    flex-direction: column;
    justify-content: center;
    background: #F2F2F7;
    border-radius: 20px;
    padding: 1%;
    box-shadow: 5px 5px 2px 1px rgb(20 20 23 / 20%);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 32%;
    top: 2%;
}

.form-add select,
input,
option {
    border: none;
    outline: none;
    text-align: center;
}

/* #buy {
    position: absolute;
    width: 15%;
    height: 2rem;
    display: block;
    border-radius: 20px;
    outline: none;
    border: none;
    top: 36%;
    font-family: sans-serif, Helvetica;
    font-weight: bolder;
    /* right: 0%; 
    box-shadow: 1px 2px 4px #8fbc8f94;
    left: calc(46% - 15% / 2);
    zoom: 1;
    transition: all 0.5s ease-in-out;
} */

.output-box {
    position: absolute;
    top: 2%;
    height: max-content;
    width: 10%;
    box-shadow: 5px 5px 2px 1px rgba(20, 20, 23, 0.2);
    background: #F2F2F7;
    padding: 2%;
    right: -30%;
    transition: all 0.5s ease-in-out;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 20px;
}

/* #buy:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
} */

.sub-components-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.sub-component-form { 
    display: flex;
    flex-direction: column;
}

.sub-component-form select {
    background: white;
    border: none;
    outline: none;
    border-radius: 23px;
}

.modal-buy {
    z-index: 40;
    width: 80vw;
    margin: auto;
    top: -120%;
    left: 9%;
    font-family: sans-serif;
    color: white;
    font-weight: 800;
    display: flex;
    position: fixed;
    height: 80vh;
    background: linear-gradient(180deg, #04F5ED 0%, #00F7A7 100%);
    box-shadow: 10px 0px 20px rgb(0 0 0 / 25%), 0px 10px 20px rgb(0 0 0 / 25%);
    border-radius: 25px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.modal-buy button {
    background: linear-gradient(180deg, #04F5ED 0%, #00F7A7 100%);
    box-shadow: 10px 0px 20px rgb(0 0 0 / 25%), 0px 10px 20px rgb(0 0 0 / 25%);
    border-radius: 25px;
    border: none;
    color: white;
    width: 14rem;
    height: 4rem;
    font-size: larger;
    font-family: sans-serif;
    font-weight: 700;
    transition: all 0.6s ease-in-out;
}

#close-modal {
    cursor: pointer;
}

form {
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    background: linear-gradient(180deg, #04F5ED 0%, #00F7A7 100%);
    box-shadow: 10px 0px 20px rgb(0 0 0 / 25%), 0px 10px 20px rgb(0 0 0 / 25%);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    height: 40%;
    width: max-content;
    padding: 2%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}


form button {
    background: lightgreen;
    box-shadow: 10px 0px 20px rgb(0 0 0 / 25%), 0px 10px 20px rgb(0 0 0 / 25%);
    border-radius: 25px;
    border: none;
    color: white;
    width: 14rem;
    height: 4rem;
    font-size: larger;
    font-family: sans-serif;
    font-weight: 700;
    transition: all 0.6s ease-in-out;
}